</div><!-- /.row -->

<hr/>
<footer>
<center>
    <p style="font-size:x-small">FTPD Admin 0.0.1 <a href="https://github.com/jniltinho/ftpdadmin">github.com/jniltinho/ftpdadmin</a> for more information.</p>
</center>
</footer>
</div> <!-- /container -->

<script src="/static/bootstrap/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/jqBootstrapValidation.js"></script>
<script src="/static/bootstrap/js/moment.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-sortable.js"></script>
<script src="/static/bootstrap/js/bootstrap-multiselect.js"></script>
<script src="/static/bootstrap/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
$(function () {
    $('#expiration').datetimepicker({
    useCurrent : false,
    showClear: true,
    format:'YYYY-MM-DD HH:mm:00',
    minDate: 'now',
    defaultDate: moment('{{expiryDate}}',"YYYY-MM-DD HH:mm:00"),
    });
});
</script>

<script>
$(function () {
$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
 $(".multiselect").multiselect({
    nonSelectedText: 'None selected',
    inheritClass: true,
    buttonWidth: '100%',
    includeSelectAllOption: true,
    enableFiltering: true,
 });
});

</script>

</body>
</html>