

{{template "partials/header" .}}

<div class="col-xs-12 col-sm-8 col-md-6 center">
</div>



<div class="col-xs-12 col-sm-8 col-md-6 center">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add group</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <form role="form" class="form-horizontal" method="post" data-toggle="validator">
            <!-- Group name -->
            <div class="form-group">
              <label for="groupname" class="col-sm-4 control-label">Group name</label>
              <div class="controls col-sm-8">
                <input type="text" class="form-control" id="groupname" name="groupname" placeholder="Enter a group name" maxlength="32" pattern="([a-zA-Z][a-zA-Z0-9_\-]{0,31})" required>
                <p class="help-block"><small>Only letters, numbers, hyphens, and underscores. Maximum 32 characters.</small></p>
              </div>
            </div>
            <!-- GID -->
            <div class="form-group">
              <label for="gid" class="col-sm-4 control-label">GID</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="gid" name="gid" placeholder="Enter the GID" min="1" required>
                <p class="help-block"><small>Positive integer.</small></p>
              </div>
            </div>
            <!-- Actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <a class="btn btn-default" href="/groups">&laquo; View groups</a>
                <button type="submit" class="btn btn-primary pull-right" name="action" value="create">Create group</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "partials/footer" .}}
