<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FTPD Admin</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap-sortable.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/admin.css" />
    <script src="/static/js/htmx.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">FTPD Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 center">
</div>


  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Login
        </h3>
      </div>
      <div class="panel-body">
          <form id="login-form" hx-post="/login" hx-target="#form-response" hx-swap="innerHTML">
          <div class="form-group">
            <div class="input-group">
              <label for="username" class="input-group-addon"><span class="glyphicon glyphicon-user"><span class="text-hide" aria-hidden="true">Username</span></label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <label for="password" class="input-group-addon"><span class="glyphicon glyphicon-lock"><span class="text-hide" aria-hidden="true">Password</span></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group pull-right">
              <button type="submit" class="btn btn-primary" name="login" id="login" value="login">Sign in</button>
          
            </div>
          </div>
        </form>

        <div id="form-response">
        </div>

      </div>
    </div>
  </div>
      </div><!-- /.row -->

      <hr/>
      <footer>
        <center><p style="font-size:x-small">FTPD Admin 0.0.1 <a href="https://github.com/jniltinho/ftpdadmin">github.com/jniltinho/ftpdadmin</a> for more information.</p></center>
      </footer>
    </div> <!-- /container -->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="/static/bootstrap/js/moment.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-sortable.js"></script>
    <script src="/static/bootstrap/js/bootstrap-multiselect.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
      $(function () {
        $('#expiration').datetimepicker({
        useCurrent : false,
        showClear: true,
        format:'YYYY-MM-DD HH:mm:00',
	minDate: 'now',
    
        });
      });
    </script>

    <script>
      $(function () {
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        $(".multiselect").multiselect({
          nonSelectedText: 'None selected',
          inheritClass: true,
          buttonWidth: '100%',
          includeSelectAllOption: true,
          enableFiltering: true,
        });
      } );
    </script>

  </body>
</html>
